<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CAPACITOR_DEBUG</key>
	<string>$(CAPACITOR_DEBUG)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string> Shift Scan</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>prefs</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Scan Qr Codes with camera to quickly clock into site and takes profile pictures to be used in app</string>
	<key>NSFaceIDUsageDescription</key>
	<string>To help users sign in faster and verify credentials</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>The app uses your location to verify that you are physically at your assigned jobsite when clocking in or out. This ensures accurate timesheets and prevents errors or unauthorized clock-ins from outside the site. Your location is only used while the app is open or actively running in the background for clock-in purposes, and it is not tracked when the app is fully closed.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Your location may be tracked in the background, but only during company time when you are clocked in for work. The app does not track your location outside of work hours or when fully closed.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location is used to verify your presence at a jobsite for clock-in/out, and is only tracked during company time when you are actively working.</string>
	<key>NSMotionUsageDescription</key>
	<string>The app may use motion data to improve location accuracy, but only during company time when you are clocked in or out for work shifts.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Use For profile picture</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Used for profile pictures eventually</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
