node_modules
# Keep environment variables out of version control
.env
.node_modules
# Firebase service account file (if you use a file instead of env var)
firebase-service-account.json
.env.local
.env.development
.env.production

# Sentry Config File
.sentryclirc

# Notes files
devDocs
dist/