services:
  server:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - DATABASE_URL=${POSTGRES_PRISMA_URL} # Changed from DATABASE_URL to POSTGRES_PRISMA_URL
      - NODE_ENV=production
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
